.container{
    width: 500px;
    border: 2px solid black;
    margin: 5px;
    padding: 5px;
}
.hr1 {
    height: 10px ;
    background-color: black;
}
.a1{
 flex-direction: column;
 display: flex;
 align-items: flex-end;
 height: 30px;
}
.a1 p {
    padding: 0;
    margin: 0;
}